{% if page.comments %}
<div id="comments">
<script>
    var idcomments_acct = '5a21f687c97e5e3baa66622ca9725a3d';
    var idcomments_post_id;
    var idcomments_post_url;
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>

    <script>
        var idcomments_acct = '5a21f687c97e5e3baa66622ca9725a3d';
        var idcomments_post_id;
        var idcomments_post_url;
        </script>
        <script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>

    </div>
    {% endif %}